@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9; /* sky-500 */
  --color-surface: #f8fafc; /* slate-50 */
  --color-on-surface: #0f172a; /* slate-900 */
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  html {
    font-family: Roboto, ui-sans-serif, system-ui, -apple-system, Segoe UI,
      Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

@utility bg-surface {
  background-color: var(--color-surface);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility bg-app {
  background-image: linear-gradient(
    to bottom,
    #e0f2fe,
    #cffafe 30%,
    #e9d5ff 70%
  );
}
